form {
    ul, ol {
        @extend %scrub-list;
    }

    legend {
        @extend h3;
        margin: 0;
        padding: $baseline + px 0;

        + p,
        + .instructions {
            margin-top: 0;
        }
    }
}

label {
    display: block;
    margin: 0;
}

input,
textarea,
button {
    @include setType(16);
}

input,
textarea {
    border: 1px solid $color-input-border;
    margin: 0;
    outline: none;
    margin: -1px 0 17px;
    padding: 3px;
    width: 100%;
}

textarea {
    height: $baseline * 6 + px;
}

button {
    background-color: $color-button-bg;
    border: 0;
    color: $color-button;
    cursor: pointer;
    line-height: 1;
    margin: 0 0 $baseline + px;
    padding: 16px 32px;
    padding: 1rem 2rem;

    &:hover,
    &:focus {
        background-color: $color-button-bg-hover;
    }
}

@media screen and (min-width: $breakpoint-one) {
    form {
        fieldset {
            legend {
                margin: 0;
            }
        }
    }

    input,
    textarea {
        width: auto;
    }
}