table {
    border: 1px solid $color-table-border;
    margin-top: -1px;
    margin-bottom: -1px;
    width: 100%;

    th,
    td {
        padding: 0 12px;
        text-align: center;
    }

    thead {
        th, td {
            background-color: $color-th-bg;
            color: $color-th;
            padding: 6px 12px;
        }
    }

    tfoot {
        font-weight: 700;

        th, td {
            background-color: $color-foot-bg;
            color: $color-foot;
            padding: 6px 12px;
        }
    }

    tfoot,
    tbody {
        tr {
            //border-bottom: 1px solid $color-table-border;

            &:nth-child(even) {
                background-color: $color-table-alt;
            }
        }
    }

    .left {
        text-align: left;
    }

    .right,
    .currency {
        text-align: right;
    }

    .center {
        text-align: center;
    }
}