@@include('../src/views/inc/header.html', {
    "title": "Style Guide",
    "description": "Gulp Boilerplate style guide"
})

        <section class="content-main">
            <div class="group">
                <h1>Styleguide</h1>
                <p>This styleguide covers <a href="#grids">grids</a>, <a href="#typography">typography</a>, <a href="#color">color</a>, <a href="#horizontalrules">horizontal rules</a>.</p>
            </div>

            <article class="group" id="grids">
                <h2>Grids</h2>
                <p>The grid system uses <a href="http://susy.oddbird.net/" rel="external">Susy</a>, a Sass layout framework.</p>

                <h3>Example: <code>halves</code></h3>
                <p>The two-column layout does not kick in until <code>$breakpoint-one</code>.</p>
                <div class="halves">
                    <div class="col">
                        <h4>Moe Howard</h4>
                        <p>The alpha stooge.</p>
                    </div>
                    <div class="col">
                        <h4>Larry Fine</h4>
                        <p>A virtuoso violinist, and middle stooge.</p>
                    </div>
                </div>

                <h3>Example: <code>thirds</code></h3>
                <p>The three-column layout does not kick in until <code>$breakpoint-two</code>.</p>
                <div class="thirds">
                    <div class="col">
                        <h4>Moe Howard</h4>
                        <p>The alpha stooge.</p>
                    </div>
                    <div class="col">
                        <h4>Larry Fine</h4>
                        <p>A virtuoso violinist, and middle stooge.</p>
                    </div>
                    <div class="col">
                        <h4>Curly Howard</h4>
                        <p>The funniest stooge and favorite by many.</p>
                    </div>
                </div>

                <h3>Example: <code>two-to-three</code></h3>
                <div class="two-to-three">
                    <div class="col">
                        <h4>Moe Howard</h4>
                        <p>The alpha stooge.</p>
                    </div>
                    <div class="col">
                        <h4>Larry Fine</h4>
                        <p>A virtuoso violinist, and middle stooge.</p>
                    </div>
                    <div class="col">
                        <h4>Shemp Howard</h4>
                        <p>Stooge antics led to post-traumatic stress disorder.</p>
                    </div>
                    <div class="col">
                        <h4>Curly Howard</h4>
                        <p>The funniest stooge and favorite by many.</p>
                    </div>
                    <div class="col">
                        <h4>Joe</h4>
                        <p>What can you say?</p>
                    </div>
                </div><!-- /.grid-vary -->
            </article><!-- /.group -->

            <article class="group" id="typography">
                <h2>Typography</h2>
                <p>All typography and vertical rhythm uses base HTML elements (<code>h1, h2, p, table, etc.</code>) to set styles. The Sass module controlling this is a custom module found in <code>/src/assets/sass/base/_typesetter.scss</code></p>
                <p>Headings get a sans-serif font while main body text gets a serif treatment. Those fonts are managed as variables and can be found in <code>/src/assets/sass/helpers/_variables.scss</code></p>
            </article>

            <article class="group" id="color">
                <h2>Color</h2>
                <p>Base colors are managed as variables and can be found in <code>/src/assets/sass/helpers/_variables.scss</code></p>

                <ul class="palette">
                    <li>
                        <div class="swatch heading"></div>
                        <h4 class="swatch-heading">Headings</h4>
                    </li>
                    <li>
                        <div class="swatch main"></div>
                        <h4 class="swatch-heading">Main</h4>
                    </li>
                    <li>
                        <div class="swatch bright"></div>
                        <h4 class="swatch-heading">White</h4>
                    </li>
                    <li>
                        <div class="swatch link"></div>
                        <h4 class="swatch-heading">Link</h4>
                    </li>
                    <li>
                        <div class="swatch button"></div>
                        <h4 class="swatch-heading">Button</h4>
                    </li>
                </ul>
            </article>

            <article class="group" id="horizontalrules">
                <h2>Horizonal Rule</h2>
                <p>The <code>hr</code> element inherits basic styling. It relies on the margins from the elements above and below it to determine it&#8217;s relationship in space.</p>
                <hr>
                <p>The <code>hr</code> is a quick way to create separation inside content blocks.</p>
            </article>

            <article class="group" id="form-elements">
                <h2>Forms</h2>
                <p>This section includes styling for all form elements.</p>
                <form action="" method="get">
                    <fieldset>
                        <legend>Contact Info</legend>
                        <p>All fields are <em class="required">*</em> required.</p>
                        <ol>
                            <li>
                                <label for="f_name">First name</label>
                                <input id="f_name" name="f_name" type="text">
                            </li>
                            <li>
                                <label for="l_name">Last name</label>
                                <input id="l_name" name="l_name" type="text">
                            </li>
                            <li>
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email">
                            </li>
                        </ol>
                    </fieldset>
                    <fieldset id="section-address">
                        <legend>Location</legend>
                        <ol>
                            <li>
                                <label for="adr_1">Street address</label>
                                <input id="adr_1" name="adr_1" type="text">
                            </li>
                            <li>
                                <label for="adr_2">Address line two</label>
                                <input id="adr_2" name="adr_2" type="text">
                            </li>
                            <li>
                                <label for="zip">ZIP</label>
                                <input id="zip" name="zip" type="text">
                            </li>
                        </ol>
                    </fieldset>

                    <fieldset id="comments">
                        <legend>Comments</legend>
                        <ol>
                            <li>
                                <label for="message">Message</label>
                                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                            </li>
                        </ol>
                    </fieldset>

                    <button type="submit">Send it</button>
                </form>
            </article>

            <article id="tables">
                <div class="group">
                    <h2>Tables</h2>

                    <table>
                        <tfoot>
                            <tr>
                                <th scope="row" colspan="3" class="left">Total</th>
                                <td class="currency">$12,3874.37</td>
                            </tr>
                        </tfoot>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Dates</th>
                                <th scope="col">City</th>
                                <th scope="col" class="currency">Currency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jeffrey</td>
                                <td>02/23/2008</td>
                                <td>St. Louis</td>
                                <td class="currency">$3,220.37</td>
                            </tr>
                            <tr>
                                <td>Laura</td>
                                <td>02/12/2008</td>
                                <td>St. Louis</td>
                                <td class="currency">$2,111.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section><!-- /.content-main -->

@@include('../src/views/inc/footer.html')