<!DOCTYPE html>
<html>
<head>

	<title>Nick Pruett | Web Developer| techheadnick@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/assets/styles/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Nick Pruett <img id="brandImg" src="/assets/img/brand/Sun.jpg"/></h1>
					<h2>Web Developer, Mentor</h2>
				</div>
				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="//pdfcrowd.com/url_to_pdf/">Download PDF</a></h3>
						<h3><a href="mailto:techheadnick@gmail.com">techheadnick@gmail.com</a></h3>
						<h3>(423)-544-5227</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Creative, self-motivated developer with broad skill base and outstanding problem-solving ability.
								Identifies and caters well to user/business demands with excellent communication skills and valuable team experience using
								Scrum and Agile principles.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

							<div class="talent">
								<h2>Web Development</h2>
								<p>Proven ability to develop highly functional applications driven by stakeholder needs.</p>
							</div>

							<div class="talent">
								<h2>Skill Mentoring</h2>
								<p>Passionately advocates for time to sharpen skill set and offer personal, engaging, coaching.</p>
							</div>

							<div class="talent">
								<h2>Project Leadership</h2>
								<p>Credible project direction coupled with exmplary communication skills.</p>
							</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Javascript / JQuery</li>
								<li>AJAX</li>
								<li>CSS</li>
								<li>SASS</li>
								<li class="last">Node.js / Gulp.js</li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>Servlets </li>
								<li>JSPs</li>
								<li>Struts</li>
								<li class="last">Spring / Hibernate</li>
							</ul>

							<ul class="talent">
								<li>SQL</li>
								<li>SProcs</li>
								<li>Jira</li>
								<li>Git / CVS / SVN</li>
								<li class="last">XML</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Averitt Express</h2>
								<h3>Senior Web Developer</h3>
								<h4>2011&mdash;Present</h4>
								<ul class="history">
									<li>
										Used Ajax to communicate with Google Maps Javascript API and plot real-time positions of hundreds of truck locations anywhere in the United States on a web page
									</li>
									<li>
										Completely redesigned entire outward facing website to include responsive design elements for tablets and mobile devices allowing 100% of functionality to be consumed on any platform.
									</li>
									<li>Responsible for discerning task assignment within developers based on desire, fluency, and availability for tasks. </li>
									<li>Took advantage of CSS3 and media queries to generate animations as well as create an appropriate experience for smaller devices. </li>
									<li>Completely changed old processes and implemented SCRUM methodology and agile principles into workflow.</li>
								</ul>
								<p>
									<strong> Technologies Used:</strong> AJAX, JQuery and Javascript, CSS3, SASS, HTML5, Struts, JIRA, Google Maps API, Gulp.js, Node.js, Spring and Hibernate, WAS, JSPs and Servlets, JSTL, XML.
								</p>
							</div>

							<div class="job">
								<h2>Blue Cross Blue Shield of Tennessee</h2>
								<h3>Senior Programmer</h3>
								<h4>2009&mdash;2011</h4>
								<ul class="history">
									<li>
										Developed CHOICES application to handle long term care claim submissions via the Web.
									</li>

									<li>Designed and created member registration within IBM Portlet software to service Blue Cross' 3 million members. </li>
									<li>Restyled existing web applications with CSS and AJAX to increase usability.</li>
								</ul>
								<p>
									<strong> Technologies Used:</strong> Java, JSPs and Servlets, Portlets, Struts, JQuery/JavaScript with Ajax, CSS, XML, HTML, Sybase, ClearCase/ ClearQuest, WebSphere, RAD, Hibernate, SProcs
								</p>
							</div>

							<div class="job last">
								<h2>Blue Cross Blue Shield of Tennessee</h2>
								<h3>Programmer</h3>
								<h4>2008&mdash;2009</h4>
								<ul class="history">
									<li>
										Created individualized real-time Personal Health Statement PDF for members.
									</li>

									<li>Rewrote several applications to remove all in line SQL and sanitize user inputs. </li>
									<li>Championed the need for service level agreements and departmental standards for our developers.</li>
								</ul>
								<p>
									<strong> Technologies Used:</strong> Java, JSPs and Servlets, Struts, JavaScript, XML, HTML, CSS, VB6, Sybase, SProcs, ClearCase/ ClearQuest, WebSphere, RAD.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Neumont University &mdash; Salt Lake City, Utah</h2>
							<h3>Baccalaureate of Science, Computer Science &mdash; March 2008</h3>
						</div>
					</div><!--// .yui-gf -->




					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Foreign Language</h2>
						</div>
						<div class="yui-u">
							<h3>German &mdash; Conversational, Limited</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Nick Pruett &mdash; <a href="mailto:techheadnick@gmail.com">techheadnick@gmail.com</a> &mdash; (423)-544-5227</p>
			<p>References available upon request</p>
		</div><!--// footer -->

	</div><!-- // inner -->
</div><!--// doc -->
</body>
</html>