@@include('../src/views/inc/header.html', {
    "title": "Modules",
    "description": "Nick Pruett Modules"
})

        <section class="content-main">
            <div class="group">
                <h1>Modules</h1>
                <p>This section is to cover some more complicated javascript implementations. </p>
            </div>



            <article class="group" id="navigation">
                <h2>Widget 1</h2>
                <p>Work in progress.</p>
            </article>
        </section><!-- /.content-main -->

@@include('../src/views/inc/footer.html')