@font-face{
    font-family : brandFont;
    src: url('/assets/styles/waltograph42.otf');
}

.header-main {
    background-color: $color-header-bg;
    padding: $baseline + px 0;
    position: relative;
    z-index: 2;

    .brand {
        font-family:brandFont;
        margin: 0;
    }
    .brand a{
        text-decoration: none;
        border: none;
    }

}

.menu {
    @include setType(16);
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 16px;
    top: 12px;
}

@media screen and (min-width: $breakpoint-one) {
    .header-main {
        padding-top: $baseline * 3 + px;
    }

    .menu {
        top: -999em;
    }
}