// Layout
$breakpoint-one: 40em;
$breakpoint-two: 50em;
$breakpoint-final: 60em;
$baseline: 24;

// Color
$color-brand: rgb(195, 32, 47);
$color-brand-trans: rgba(195, 32, 47, 0.75);
$color-bright: rgb(255, 255, 255);

// Color: Typography
$font-heading: sans-serif;
$font-main: serif;
$color-heading: rgb(50, 50, 50);
$color-main: rgb(25, 25, 25);

// Color: links
$color-link: rgb(68, 117, 153);
$color-link-hover: rgba(68, 117, 153, 0.75);
$color-link-visited: rgba(68, 117, 153, 0.50);

// Color: buttons
$color-button: rgb(255, 255, 255);
$color-button-bg: rgb(255, 127, 0);
$color-button-bg-hover: rgba(255, 127, 0, 0.75);

// Color: forms
$color-input-border: rgb(200,200,200);

$color-th-bg: rgb(25, 25, 25);
$color-th: rgb(255, 255, 255);
$color-foot-bg: rgb(50, 50, 50);
$color-foot: rgb(255, 255, 255);
$color-table-border: rgb(200,200,200);
$color-table-alt: rgb(220,220,220);